body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #000;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 120px; /* Tamanho do logo da Ferrari */
    height: auto;
}

.search-bar {
    flex-grow: 1;
    margin: 0 20px;
    position: relative;
}

.search-bar input[type="text"] {
    width: 100%;
    padding: 8px 10px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    font-size: 14px;
    outline: none;
}

.search-bar button {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px 16px;
    background-color: #d40000; /* Vermelho Ferrari */
    color: #fff;
    border: none;
    border-radius: 24px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}

nav ul li a:hover {
    text-decoration: underline;
}
